html {
  box-sizing: border-box;
 }
 *,* :before, *:after {
  box-sizing: inherit;
 }

 html, body {
  width: 100%;
  height: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.imgstyle {
  width: 300px;
}

.create-company-modal {
  width: 50%;
  height: 50px;
  background-color: cornflowerblue;
  display: flex;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


