html {
  box-sizing: border-box;
 }
 *,* :before, *:after {
  box-sizing: inherit;
 }
/* #root,.App */
 html, body, #root,.App {
  width: 100%;
  height: 100%;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.imgstyle {
  width: 300px;
}

.create-company-modal {
  width: 50%;
  height: 50px;
  background-color: cornflowerblue;
  display: flex;
}

 .footer{
  display: flex;
  margin-bottom: 0px;
  width: 100%;
  height: 100%;
  color: #8c8989;
  background-color: black;
 }

 .footer-class{
   display:flex;
   margin-bottom:0px;
 }
 .address-class{
  background-color: #333333;
  height: 200px;
  width: 100%;
  margin-bottom: 0px;
  margin-top: 100px;
  color: #747474;
  font-size: 16px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  letter-spacing: 0px;
  font-style: normal;
  line-height: 2.5em;
  text-align: left;
  padding-left: 25px;
  padding-top: 25px;

 }

.detail-footer-class{
  background-color: black;
  height:100%;
  width:100%;
  color: #8c8989;
  font-size:12px;
  padding-left:30px;
  margin-top: 30px;
  margin-bottom: 110px;
  text-align: left
} 

.main-app-container {
  margin-top: 25px;
}

.social-media{
  margin-top: 10px;
  margin-right:30px;
}


i{
  margin-left: 5px;
  margin-right: 5px;
}

.Admin-panel{
  margin-bottom: 15px;
  height: 29px;
  width: 110px;
  /* float: right; */
  margin-top: 0px;
  margin-right: -410px;
  color: white;
  color: white;
  border: #191919;
  background-color:#191919;
}

.admin{
  margin-top: -100px;
  margin-bottom: 100px;
  margin-right: -640px;

}

.select-filterby{
  height: 25px;
  width: 140px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

.search-bar{
  margin-top: 10px;
  justify-content: center;
  height: 48px;
  width: 300px;
  font-weight: bold;
  font-size: 20px;
  font-style: italic;
}

a {
  text-decoration: none;
  color: inherit;
}

.about.dropdown{
  float: right;
  margin-right: 10px;
}

a:hover {
  text-decoration: none;
  color: inherit;
}
.social-media{
  color: #46494a;
  margin-left: 10px;
  font-size: 14px;
  display: flex;
}

.media1{
  margin-top: 10px;
  margin-right: 5px;
}
.media{
  margin-top: 10px;
  margin-right: 5px;
}

.navbar-nav{
  float:none;
}


@media (min-width:1024){
  width: 75%;
  height: 75%;

}



