

.company-container {
    /* flex: 1;
    display: inline-flex;
    border: 1px solid #ddd; */
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    /* flex-basis: 33%; */
    width: 85%;
    height: 60vh;
    justify-content: center;
    /* border: 1px solid black; */
    margin-top: 5px;
}


.individualCompany {
    /* height: 90%;
    margin: 10px 10px 10px 10px;
    /* padding: 20px; */
    /* border: 1px solid #ddd;  */
    /* flex: 33.33%; */
    padding: 5px;
    /* flex-basis: 100%; */
    width: 325px;
    /* border: 1px solid green; */
    /* margin: 25px; */
    display: flex;
    justify-content: center;
}

.company-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 188px;
    background-color: white;
}

.company-list-image {
    width: 100%;
    /* height: 100%; */
    /* border: 1px solid green; */
}

.company-list-image:hover{
    color:yellow;
}

