.company-outercontainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 20px;
    /* border: 2px solid red; */
    height: 100%;
}

.left-main-container {
    /* border: 3px solid blue; */
    width: 31%;
    margin-right: 100px;
    height: 100%;
}

.company-logo-and-name {
    height: 400px;
    background-color: #333333;
    border-radius: 1%;
    border: 3px solid black;
    /* border: 5px solid green; */
    /* width: contain; */
}

.div-Company{
    /* background-color: green; */
    display:flex;
    flex-direction: column;
    /* border:4px solid blue; */
    justify-content: center;
    /* align-items: flex-end; */
    height: 100%;
    /* text-align: left; */
    font-size: 16px;  
    /* background-color: #333333; */
    /* background-color:white; */
    /* margin-bottom: 10px; */

}

.company-renderLogo{
    /* width: 80%; */
    /* width: 550px; */
    /* height: 350px; */
    width: 100%;
    max-height: 350px;
    /* width: 100%; */
    border-radius: 1%;
    /* box-shadow: 5px 5px 28px 20px #9d9d9d; */
}


.company-name{
    /* border: 5px solid red; */
    /* margin-top: 15px; */
    padding-top: 5px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    width: 100%;
    color: whitesmoke;
    text-shadow: -1.5px 0 black,
    0 1.5px black,
    1.5px 0 black,
    0 -1.5px black;
}

.summary-border {
    border: 3px solid #D66A38;
    background-color: lightgray;
    /* width: 260px; */
    /* height: 430px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 15px; */
    border-radius: 1%;
    width: 100%;
}

.main-summary-inner-container {
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    width: 90%;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    word-break: break-all;
    margin-top: 10px;
}

.column-video {
    width: 31%;
    height: 100%;
    margin-right: 70px;
    /* border: 5px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* background-color: #F2F2F2; */
}

.profile-and-name-container {
    width:100%;
    height: 400px;
    margin: 0px;
    background: #333333;
    border: 2px solid black;
    border-radius: 1%;
    /* background-color: white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* border: 2px green solid; */
    /* color: white; */
    border: 3px solid #D66A38;
    background-color: lightgray;
}

.meet-the-owner {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: bold;
    /* border: 1px solid red; */
    width: 100%;
    /* text-shadow: -1.5px 0 black,
    0 1.5px black,
    1.5px 0 black,
    0 -1.5px black; */
    
}

.profile-and-name {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    justify-content: flex-start;
    align-items: center;
    width: fit-content;
    margin: 0px;
    padding:1px;
    background-color: black;
    border-radius: 1%;
}

.company-profile{
    display: flex;  
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* border: 5px solid purple; */
    width: 100%;
    width: 200px;
    max-height: 266px;
    /* display: flex; */
}

.company-picture {
    width: 100%;
    margin: 0px;
    padding: 0;
    /* box-shadow: 5px 5px 28px 20px #9d9d9d; */
}

.owner-name {
    /* border: 3px solid orange; */
    background-color: #333333;
    color:white;
    /* margin-top: -35px; */
    text-shadow: -3.5px 0 black,
    0 3.5px black,
    3.5px 0 black,
    0 -3.5px black;
}

.company-youtube {
    background-color: #333333;
    margin: 0px;
    /* border: 3px  red solid; */
    display: flex;
    height: 400px;
    width: 100%;
    align-items: center;
    border-radius: 1%;
    border: 3px solid black;
}

.youtube-item {
    width: 100%;
    /* border: 3px solid purple; */
}

.twitter-biggersize {
    width: 300px;
    border: 3px solid black;
    border-radius: 1%;
    /* height: 806px; */
}

.company-summary,.company-stage,.comapny-industry,.company-needs,.company-email,
.company-phone,.company-paypal,
.company-profile,.company-linkedIn,.company-website{
    /* margin-bottom: 10px; */
    margin-top:6px;
    margin-bottom: 4px;
}

.company-phone:hover,.company-email:hover, .company-website:hover{
    color:#D66A38;
}

@media screen and (min-width:360px) {
    .company-outercontainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: center; */
        height: 100%;
        width: 100%;
    }

    .left-main-container {
        margin: 0;
        /* border: 3px solid blue; */
        width: 75%;
        /* margin-right: 100px */
        margin-bottom: 25px;
        /* height: 100%; */
    }

    .column-video {
        margin: 0;
        width: 75%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .twitter-biggersize {
        margin-top: 25px;
        width: 75%;
        border: 3px solid black;
        border-radius: 1%;
        /* height: 806px; */
    }
}
@media screen and (min-width:900px){
    .company-outercontainer {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        /* margin-left: 20px; */
        height: 100%;
        /* flex-wrap: wrap; */
    }

    .left-main-container {
        /* border: 3px solid blue; */
        width: 31%;
        margin-right: 50px;
        height: 100%;
    }

    .column-video {
        margin: 0;
        width: 31%;
        height: 100%;
        margin-right: 50px;
        /* border: 5px solid black; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        /* background-color: #F2F2F2; */
    }

    .twitter-biggersize {
        margin: 0px;
        width: 300px;
        border: 3px solid black;
        border-radius: 1%;
        /* height: 806px; */
    }
}

@media screen and (min-width:1000px) {
    .company-outercontainer {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        /* margin-left: 20px; */
        height: 100%;
    }
}