

.company-container {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    width: 85%;
    /* flex: 20%; */
    /* height: 60vh; */
    justify-content: center;
    /* border: 1px solid black; */
    margin-top: 20px;
    min-height: 450px;
    min-width: 360px;
    /* flex: 1 1 50%; */
}

.company-list-image {
    /* width: 100%; */
    height: 100%;
    /* height: 100%; */
    /* border: 1px solid green; */
    box-shadow: 5px 5px 28px 20px #9d9d9d;
}


.individualCompany {
    /* border: 1px solid green; */
    margin: 25px;
    /* width: 325px; */
    /* width: auto; */
    height: auto;
    padding: 5px;
    display: flex;
    flex-basis: 20%;
    flex-direction: column;
    /* justify-content: flex-start; */
    height: fit-content;
    justify-content: flex-start;
    align-items: center;
    /* justify-content: center; */
    margin-bottom: 30px;
    
}

.company-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 188px;
    background-color: white;
    /* background-color: #E6E6E6; */
}

.homepage-name-container {
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    width: 250px;
    /* height: 60px; */
    word-wrap: break-word;
    /* text-align: justify; */
    /* border: 1px solid red; */
}

.homepage-name-container h4 {
    text-align: center;
}

