.div-Company{
    /* background-color: green; */
    display:flex;
    flex-direction: column;
    /* border:1px solid pink; */
    /* width:75%; */
    align-items: flex-start;
    text-align: left;
    font-size: 16px;
    
    
    height: 800px;
    
    

}
.company-renderLogo{
    width: 260px;
    padding: 0;
    box-shadow: 5px 5px 28px 20px #9d9d9d;
}

.company-picture{
    width: 123px;
    margin-left: 60px;
    padding: 0;
    box-shadow: 5px 5px 28px 20px #9d9d9d;

}

.company-outercontainer{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
    /* border:10px solid red; */
    

}

.company-box{
    /* background-color: */

}
.company-name{
    margin-top: 25px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom:25px;
    flex-direction: column;
}

.company-summary,.company-stage,.comapny-industry,.company-needs,.company-email,
.company-phone,.company-youtube,.company-paypal,
.company-profile,.company-linkein,.company-website{
    margin-bottom: 10px;
    margin-top:10px;
}
.company-profile{
   display: flex;
}

.company-phone:hover,.company-email:hover, .company-website:hover{
    color:#D66A38;
}
@media screen and (min-width:600px){
    .company-outercontainer{
        flex-direction: row;
        align-items: flex-start;
    }

    .company-profile{
        margin: 0;
        
    }
    .div-Company{
        margin-left: 30px;
    }
}

/* @media screen and (min-width:500) {
    .twitter-feed, .youtube-embed, .summary-border, .company-outercontainer, .div-Company, .company-profile, .company-name {
        justify-content: center;
    }
} */

@media screen and (max-width: 499px) {
    .twitter-feed, .youtube-embed, .summary-border, .company-outercontainer, .div-Company, .company-profile, .company-name {
        justify-content: center;
        align-content: center;
    }
}

/* @media screen and (max-width: 860px) {
    .youtube-embed {
        flex-direction: initial;
    }
} */

.twitter-feed {
    border: 3px solid black;
}

.youtube-embed {
    display: flex;
    border: 3px solid black;
    height: '800px';
    align-items: center;
    
   
}

.summary-border {
    border: 5px solid #D66A38;
    background-color: lightgray;
    width: 260px;
    height: 430px;
    display: block;
    flex-direction: inherit;
    padding: 15px;

}

.column-video {
    margin-left:46px;
    margin-right: 46px;
    /* border: 2px solid black; */
    flex-direction: column;
    padding: 10px;
    background-color: #F2F2F2;


}

.container-image{
    margin-bottom:30px;

}

@media screen and (min-width:1100px){
    .twitter-biggersize{
        width:500px;
        margin-left:55px;
        
    }
    .company-outercontainer{
        justify-content: center;
    }
}

@media screen and (min-width:1350px){
    .twitter-biggersize{
        width:600px;
        margin-left:75px;
        margin-top:20px;
        
    }

    .div-Company{
        margin-left:50px;
        margin-top: 20px;
    }

    .column-video{
        margin-top:20px;
    }

    .company-outercontainer{
        justify-content: center;
    }

}

.please {
    /* border: 1px solid black; */
    flex-direction: column;
    display: block;
    padding-right: 20px;
    background-color: #F2F2F2;
}