/* 
footer{
    overflow: hidden;
    position: relative;
    padding: 43px 10px 40px;
    border-top: 12px solid #e9eaee;
    background: #363839;
    color: #8c8989;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    height:200px;
    width:100%;  
    
} */
 footer {
    color: #8c8989;
    
}



/* .black{ */
    /* background-color: black; */
    /* height:100%;
    width:100%;
    color: #8c8989;
    font-size:9px;
    padding-left:30px;
} */

/* .footer-class{
    color: #bfbfbf;
    font-size: 9px;
    /* display:flex; */
    /* width:100%;
    height: 100%;
    background-color: black;
}   */

/* .social-media{
    color: #46494a;
    margin-left: 10px;
    font-size: 14px;
    display: flex;
} */

/* .media1{
    margin-top: 10px;
    margin-right: 5px;
}
.media{
    margin-top: 10px;
    margin-right: 5px;
}

.navbar-nav{
    float:none;
} */

