
.form-outer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 360px;
    /* border: 1px solid red; */
}

.form-container {
    width: 65%;
    border: 2px solid black;
    padding: 10px;
    padding-right: 65px;
    justify-content: center;
    min-width: 350px;
    border-radius: 1%;
    /* background-color: #212C35; */
    /* background-color: darkslategrey; */
    background-color: #DCDCDC;
    /* color: white; */
    

}

.form-button-container {
    margin: 10px;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.form-button {
    width: 160px;
}

.modal-container {
    position: relative;
}

.modal-container .modal,
.modal-container .modal-backdrop {
    position: absolute;
}

/* dark grey used on bunkerlabs #383838 */
/* light grey used on bunkerlabs #DCDCDC */