.filter-container {
    display: flex;
    justify-content: center;
}

.companyIndividual {
    background-color: white;
    width: 200px;
    height: 100px;
    border: 1px solid pink;
}

.companyContainer {
    background-color: white;
    display: flex;
    flex-direction: row;
    border: 1px solid purple;
    width: 800px;
    background-color: orchid
}

.homepage-container {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.search-bar {
    width: 254px;
    margin-bottom: 10px;

}

.select-filterby {
    height: 25px;
    width: 118px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    /* color: red; */
    background-color: white;
    margin-bottom: 12px;
}

.landing-imageHover:hover {
    color: yellow;
}

.homepage-info-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
    /* background-color: #DCDCDC; */
    /* background-color: #2D2D2D; */
    background-color: #333333;
    margin-top: -25px;
}
.homepage-info {
    text-align: left;
    width: 65%;
    padding: 20px 15px 20px 15px;
    /* background-color: #DCDCDC; */
    /* background-color: #383838; */
    color: white;
    /* color: #e46326; */
    /* color: #8c8989; */
    text-shadow: -2px 0 black,
    0 2px black,
    2px 0 black,
    0 -2px black;
}

.homepage-info p {
    margin: 10px 0px;
}
