html {
  box-sizing: border-box;
}

*,
* :before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgba(255, 255, 255, 0);
background-image: url(https://28nu861p2y3b17e6g5d5nzgv-wpengine.netdna-ssl.com/wp-content/uploads/2015/07/camo_cloth_universal_pattern-LIGHT-300x300.jpg);
background-position: center center;
background-repeat: repeat;
}
