.landingPage{
    background-color: lightblue;
    margin-left: 15px;
    margin-top: 20px;
    border-color: black;
    border-style:solid;
}

.filter-container {
    display: flex;
    justify-content: center;
}