
.landingPage{
    background-color: lightblue;
    margin-left: 15px;
    margin-top: 20px;
    border-color: black;
    border-style:solid;
}

.filter-container {
    display: flex;
    justify-content: center;

}
.companyIndividual {
    background-color: white;
    width: 200px;
    height:100px;
    border: 1px solid pink;

};


.companyContainer {
    background-color: white;
    display: flex;
    flex-direction: row;
    border: 1px solid purple;
    width: 800px;
    background-color: orchid


}

.homepage-container {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   
}

.search-bar{
    margin-top: 10px;
    justify-content: center;
    height: 35px;
    width: 254px;
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 12px;
}

.select-filterby{
    height: 25px;
    width: 118px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    /* color: red; */
    background-color: white;
    margin-bottom: 12px;
}

.landing-imageHover:hover{
    color:yellow;
}
