
.landingPage{
    background-color: lightblue;
    margin-left: 15px;
    margin-top: 20px;
    border-color: black;
    border-style:solid;
}

.filter-container {
    display: flex;
    justify-content: center;

}
.companyIndividual {
    background-color: white;
    width: 200px;
    height:100px;
    border: 1px solid pink;

};


.companyContainer {
    background-color: white;
    display: flex;
    flex-direction: row;
    border: 1px solid purple;
    width: 800px;
    background-color: orchid


}