.navbar-nav{
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    border-bottom-color: rgba(0,0,0,0.5);
    background-color: #16120D;
    width:100%;
    padding: 2.2em 1em;
    margin:0px;
    display: flex;
    align-items: center;
}

.image-nav{
    margin-left: 0px;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    /* border: 2px solid blue; */
    height: 100%;
    width: 50%;
    display: flex;
}

NavItem:hover {
    background-color: black;
}

.navbar-logo{
    width: 180px;
    /* border: 1px solid red; */
}

.navbar-log:hover {
    background-color: orange;
}
NavItem:hover {
    background-color: orange;
}

.orange-area{
    background-color: #e46326;
    color: #555555;
    border-bottom-color: rgba(0,0,0,0.5);
    height:40px;
    width:100%;
}

.icon-container{
    display: flex;
    justify-content: flex-end;
    /* border:2px solid yellow; */
    flex-direction: row;
    color: white;
    font-size: 14px;
    width: 50%;
    height: 100%;
    margin-right: 2px;
}

.individual-icon {
    /* border: 2px solid orange; */
    padding: 0px 15px;
    align-items: center;
    display: flex;
}

.words-nav {
    display: none;
}

.words-nav:hover {
    color: white;
    text-decoration-color: inherit;
    text-decoration-line: none;
}

.individual-icon a:focus {
    color: white;
    text-decoration-color: inherit;
    text-decoration-line: none;
}

/* .words-nav:focus {
    color: white;
    text-decoration-color: inherit;
    text-decoration-line: none;
} */

/* .words-nav:active {
    color: white;
    text-decoration-color: inherit;
    text-decoration-line: none;
} */

.nav>li{
    text-align: left;
} 

.navbar-nav>li>a {
    padding:0px;
}

.navbar-nav>li>a:hover {
    background-color: #16120D;
}

    @media screen and (min-width:900px) {
        .words-nav {
            display: block;
            width: 75px;
        }

        .icons-nav {
            display:none;
        }
    }